[TRAINER_METADATA]
python_model = Behavioural_Cloning_v1
gym = RoboschoolHumanoid
notes = this is just a copy of the python tutorial
; this is the file that will be used
; reading from "gs://relna-mlengine/data/"+expert_policy
; make sure it exsist otherwise job will fail
expert_policy = RoboschoolHumanoid-v1-small.pkl
train_steps = 10000

